{% load static %}
<!doctype html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hardware log</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'datatable.css' %}">
    <link rel="stylesheet" href="{% static 'database.css' %}">
    <script src="{% static 'scripts.js' %}"></script>
    <script src="{% static 'table2excel.js' %}"></script>
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>
  <body >
    <nav  class="navbar navbar-expand-lg" style="background-color: #a365bc;">
      <div class="container-fluid">
        <a class="navbar-brand" href="home">HARDWARE INVENTORY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Master</b>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="machine">Machine</a></li>
                <li><a class="dropdown-item" href="section">Section</a></li>
                <li><a class="dropdown-item" href="wing">Wing</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="hardware"><b>Hardware</b></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Issue</b>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="entry_sec">Section</a></li>
                <li><a class="dropdown-item" href="entry_emp">Employee</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Report</b>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="report">Hardware wise</a></li>
                <li><a class="dropdown-item" href="reporte">Employee wise</a></li>
                <li><a class="dropdown-item" href="reports">Section wise</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
          <div class="form-example">
                <div class="outer-wrapper">
                <div class="table-wrapper">
                <table id="emp-table">
                    <thead>
                        <th col-index = 1>Machine type:
                            <select class="table-filter" onchange="filter_rows()">
                                <option value="all"></option>
                            </select>
                        </th>
            
                        <th col-index = 2>Machine no:
                            <select class="table-filter" onchange="filter_rows()">
                                <option value="all"></option>
                            </select>
                        </th>
                        <th col-index = 3>U id:
                            <input class="table-filter" onchange="filter_rows()">
                        </th>
                        
                        <th col-index = 4>Specification:
                            <select class="table-filter" onchange="filter_rows()">
                              <option value="all"></option>
                            </select>
                        </th>
                        <th col-index = 5>Purchase data:
                            <select class="table-filter" onchange="filter_rows()">
                                <option value="all"></option>
                            </select>
                        </th>
                        <th col-index = 6>Cost:
                          <select class="table-filter" onchange="filter_rows()">
                              <option value="all"></option>
                          </select>
                      </th>
                      <th col-index = 7>Stock register:
                        <select class="table-filter" onchange="filter_rows()">
                            <option value="all"></option>
                        </select>
                    </th>
                    <th col-index = 8>War amc:
                      <select class="table-filter" onchange="filter_rows()">
                          <option value="all"></option>
                      </select>
                  </th>
                  <th col-index = 9>Warenty time:
                      <select class="table-filter" onchange="filter_rows()">
                          <option value="all"></option>
                      </select>
                  </th>
                    </thead>
                    <tbody>
                      {% for hardware in hardwares %}
                        <tr>
                            <td>{{hardware.machine_type}}</td>
                            <td>{{hardware.machine_no}}</td>
                            <td>{{hardware.U_id}}</td>
                            <td>{{hardware.specification}}</td>
                            <td>{{hardware.purchase_data}}</td>
                            <td>{{hardware.cost}}</td>
                            <td>{{hardware.stock_register}}</td>
                            <td>{{hardware.war_amc}}</td>
                            <td>{{hardware.warenty}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
                <!-- <script>getUniqueValuesFromColumn()
                </script> -->
                <script>
                    window.onload = () => {
                        console.log(document.querySelector("#emp-table > tbody > tr:nth-child(1) > td:nth-child(2) ").innerHTML);
                    };
            
                    getUniqueValuesFromColumn()
                    
                </script>
            </div>
            </div>
            <button id="downloadexcel" class="btn btn-primary btn-customized">Excel</button>
          </div>
        </div>
      </div>
      <script>
        document.getElementById('downloadexcel').addEventListener('click',function() {
          var table2excel = new Table2Excel();
          table2excel.export(document.querySelectorAll("#emp-table"));
        });
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>